.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.link:hover,
.link:focus {
    color: var(--color-text-action);
}

.no-scroll {
    overflow: hidden;
}

@import '~node_modules/modern-normalize/modern-normalize.css';